 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Interface é um grupo de pesquisa sobre Filosofia e Cultura, vinculado ao Instituto Federal de Brasília - IFB.</p>
                </div>
                <div class="col-lg-4">
                    <p>O Grupo Interdisciplinar de Pesquisa em Filosofia e Cultura funciona junto ao [Instituto Federal de Brasília](http://www.ifb.edu.br/pesquisa/pesquisa3/grupos-de-pesquisa-2), Campus Brasília, em articulação com a Licenciatura em Dança e com os cursos Técnicos de Informática, Eventos e Serviços Públicos. Além disso, o grupo visa a realização de pesquisas e atividades conjuntas com pesquisadores de outros Campus do IFB.
     
O Grupo surge por iniciativa de pesquisadores interessados em criar um espaço comum para o incentivo à discussão e ao desenvolvimento e divulgação de pesquisas nas áreas de Filosofia e Cultura com abordagens interdisciplinares. A atuação do grupo se dará, principalmente, sob a forma de participação e realização de encontros, cursos, eventos científicos e artísticos, colóquios e publicações.
     
As principais áreas de interesse do grupo são:
     
1. Filosofia da Arte
2. Corpo
3. Tecnologia digital
     
Acesse também a [página do grupo no diretório de grupos do CNPq](http://dgp.cnpq.br/dgp/espelhogrupo/6419069911099653).
 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.gpinterface.com.br/publicacoes" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Publicações
                    </a>
                </div>
            </div>
        </div>
    </section>
